/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Final reset*/
:root{
  --color-primario: #A67A53;
  --color-fondo: #0D0D0D;
  --color-secundario-oscuro: #734429;
  --color-secundario-claro: #D8B08C;
  --color-terciario-claro:#F2ECCE;
}
*{
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: var(--color-fondo);
  color: var(--color-terciario-claro);
}
/*link a input styles*/
a, a:visited{
  text-decoration: none;
  color: var(--color-terciario-claro);
}
a:active{
  color: var(--color-secundario-claro);
}
input[type="checkbox"], input[type="radio"]{
  display: none;
}
legend{
  margin: 5px;
  padding: 5px;
}
label{
  display: inline-block;
  cursor: pointer;
  padding: 5px;
  background-color: var(--color-primario);
  border: 2px solid var(--color-secundario-oscuro);
  border-radius: 40px;
  transition: all 0.3s ease;
  z-index: 1;
}
label:hover{
  background-color: var(--color-secundario-oscuro);
}
.rangoPrecio{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
input[type="range"] {
  width: 100%;
  height: 5px;
  background-color: var(--color-secundario-claro);
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background-color: var(--color-secundario-oscuro);
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background-color: var(--color-primario);
  border-radius: 50%;
  cursor: pointer;
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label{
  background-color: var(--color-secundario-oscuro);
  transform: scale(1.1);
}
button{
  padding: 5px;
  background-color: var(--color-primario);
  border: 2px solid var(--color-secundario-oscuro);
  border-radius: 15px;
  color: var(--color-terciario-claro);
  transition: all 0.3s ease;
  z-index: 1;
}
button:hover{
  background-color: var(--color-secundario-oscuro);
  border-color: var(--color-terciario-claro);
}

/*page styles*/

header{
  min-height: 15vh;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-primario);
}
.brand a{
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
}
.brand img{
  width: 75px;
}

.navegador ul{
  margin: 2%;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width:  100%;
  list-style: none;
  font-size: 25px;
}

main{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  min-height: 85vh;
}
h1{
  font-size: 25px;
  margin: 25px;
}
nav ul{
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  list-style: none;
  font-size: 25px;
  white-space: nowrap;
}
section{
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.filtros{
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 25px;
  background-color: var(--color-secundario-claro);
}

.filtros form{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: start;
  align-content: center;
  
}

.prendas{
  display: grid;
  width: 80%;
  padding: 10px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  gap: 10px;
}

.prenda{
  background-color: var(--color-secundario-oscuro);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.prenda header{
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius:  30px 30px 0 0;
  gap: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.prenda h2{
  text-align: center;
  font-size: 24px;
  margin: 2%;
}
.prenda img{
  width: 100%;
}
.prenda .description{
  min-width: 4%;
  font-size: 15px;
  margin: 5%;
}
.prenda footer{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 0 0 30px 30px;
}
.prenda .price{
  font-size: 20px;
  margin: 2%;
}

footer{
  background-color: var(--color-primario);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 10vh;
}