/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Final reset*/
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 15vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

header img{
  width: 50px;
}
.brand{
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
}
nav ul{
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  list-style: none;
  font-size: 25px;
  white-space: nowrap;
}

main{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
section{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.prendas{
  display: grid;
  width: 80%;
  padding: 10px;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  );
  gap: 10px;
}

.prendas article{
  background-color: blanchedalmond;
  border-radius: 16px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.prendas h2{
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.prendas header ul{
  display: flex;
  list-style: none;
  gap: 10px;
}

.prendas img{
  width: 100%;
}


main img{
  width: 200px;
}

footer{
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
}